.footer{
  background: #2F2D30;
  .container{
    display: flex;
    a{
      &:hover{
        opacity: .7;
      }
    }
  }
  &-top{
    padding: 40px 0;
  }
  &-logo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    a{
      font-weight: 700;
      font-size: 32px;
      line-height: 39px;
      color: #FFFFFF;
    }
    span{
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: #FFFFFF;
    }
  }
  &-nav{
    max-width: 274px;
    margin: 0 auto;
    ul{
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
    li{
      width: 50%;
      margin-bottom:14px;
    }
    a{
      font-weight: 400;
      font-size: 16px;
      line-height: 23px;
      color: #FFFFFF;
    }
  }
  &-contact{
    &__title{
      font-weight: 700;
      font-size: 16px;
      line-height: 16px;
      color: #fff;
      margin-bottom: 16px;
    }
    li{
      margin-bottom: 6px;
    }
    a{
      font-weight: 400;
      font-size: 12px;
      line-height: 16px;
      color: #fff;
      display: flex;
      align-items: center;
    }
  }
  &-bottom{
    border-top: 1px solid rgba(255, 255, 255, 0.12);
    color: #fff;
    padding: 5px 0 10px;
    .container{
      align-items: center;
      justify-content: space-between;
      ul{
        display: flex;
      }
      li{
        margin-right: 50px;
        &:last-of-type{
          margin-right: 0;
        }
      }
      a{
        font-weight: 400;
        font-size: 16px;
        line-height: 23px;
        color: #FFFFFF;
      }
    }
  }
  &-copy{
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: #FFFFFF;
  }
}