.header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  padding: 23px 0;
  z-index: 999;
  border-bottom: 1px solid #3B3A36;
  .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &-logo{
    a{
      font-weight: 700;
      font-size: 32px;
      line-height: 39px;
      color: #000000;
    }
  }
  &-nav{
    margin: 0 0 0 auto;
    ul{
      display: flex;
    }
    li{
      margin-right: 20px;
      &:last-of-type{
        margin-right: 0;
      }
    }
    a{
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      color: #000000;
    }
  }
}
.page-content{
  padding-top: 84px;
}
.header-social{
  display: none;
}