body {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: $black;
  font-family: $Gilroy;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  overflow-x: hidden;
}
.slide{
  outline: none !important;
}

.container{width:100%;padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto}
@media (min-width:992px){.container{max-width:960px;padding-left: 10px;padding-right: 10px;}}@media (min-width:1200px){.container{max-width:1116px}}
h1, h2, h3, h4, h5, h6{
  font-family: $Gilroy;
}
h1 {
  font-weight: 700;
  font-size: 64px;
  line-height: 78px;
}

h2 {
  font-size: 42px;
  line-height: 42px;
}

h3 {
  font-size: 40px;
  line-height: 48px;
}

h4 {
  font-size: 16px;
  line-height: 28px;
}

h5 {
  font-size: 16px;
  line-height: 26px;
}

h6 {
  font-size: 14px;
  line-height: 21px;
}

p {
  font-size: 14px;
  line-height: 23px;
}

img {
  display: block;
  //width: 100%;
  font-size: 12px;
  line-height: 14px;
}

section {
  position: relative;
  padding: 40px 0;
  z-index: 1;
  max-width: 1920px;
  margin: 0 auto;
}

.row.min {
  margin-left: -5px;
  margin-right: -5px;
}

.row.min > div[class^="col-"] {
  padding-left: 5px;
  padding-right: 5px;
}

.overflow {
  overflow: hidden !important;
}

.hidden {
  display: none !important;
}

.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

.clearfix {
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

.icon {
  width: 20px;
  height: 20px;
}

a,
button,
input,
select,
textarea,
span,
.icon {
  transition: all 150ms ease;
}
button{
  cursor: pointer;
}

.title-section{
  font-weight: 700;
  font-size: 64px;
  line-height: 78px;
  text-align: center;
  color: #2F2D30;
}
.btn-secondary, .btn-primary, .btn-white{
  font-family: $Gilroy;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  padding: 16px 18px;
  text-align: center;
  box-sizing: border-box;
  min-width: 200px;
  border: 1px solid transparent;
  transition: all ease 300ms;
}
.btn-secondary{
  background: #3C3030;
  border-color: #3C3030;
  color: #FFFFFF;
  &:hover{
    background: transparent;
    border-color: #3C3030;
    color: #3C3030;
  }
}
.btn-primary{
  color: #2F2D30;
  border: 1px solid #2F2D30;
  background: #fff;
  &:hover{
    background: #2F2D30;
    border-color: #3C3030;
    color: #FFF;
  }
}
.btn-white{
  color: #EFEEEA;
  border: 1px solid #EFEEEA;
  background: transparent;
}
input, textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
input{
  display: inline-block;
  font-family: $Gilroy;
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  color: #2F2D30;
  padding: 15px;
  width: 100%;
  background: transparent;
  border: 1px solid #fff;
  border-radius: 2px;
  text-overflow: ellipsis;
  outline: none;
  //&::-webkit-input-placeholder {
  //  color: $gray;
  //  opacity: 1;
  //}
  //&::-moz-placeholder {
  //  color: $gray;
  //  opacity: 1;
  //}
  //&:-moz-placeholder {
  //  color: $gray;
  //  opacity: 1;
  //}
  //&::-ms-input-placeholder {
  //  color: $gray;
  //  opacity: 1;
  //}
  //&:-ms-input-placeholder {
  //  color: $gray;
  //  opacity: 1;
  //}
  //&:focus,
  //&:active {
  //  border-color: $default;
  //}
  //// invalid
  //&:invalid {
  //  box-shadow: none;
  //}
  //&:-moz-submit-invalid {
  //  box-shadow: none;
  //}
  //&:-moz-ui-invalid {
  //  box-shadow: none;
  //}
}
.tab-item{
  visibility: hidden;
  position: absolute;
  left: -9999px;
  top: -9999px;
  margin-top: 50px;
  opacity: 0;
  transition: margin-top 0.7s ease, opacity 0.4s ease;
  &.active{
    visibility: visible;
    position: relative;
    left: 0;
    top: 0;
    margin-top: 0;
    opacity: 1;
  }
}